.wave-surfer-container {
  position: relative;
}

.wave-surfer {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.wave-overlayBar {
  height: 30px;
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  z-index: 2;
  background: rgba(114, 113, 113, 0.1);
}
.wave-hover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none;
  height: 100%;
  width: 0;
  mix-blend-mode: overlay;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.wave-surfer:hover .wave-hover {
  opacity: 1;
}
.wave-time,
.wave-duration {
  position: absolute;
  z-index: 11;
  top: 70%;
  margin-top: -1px;
  transform: translateY(-70%);
  font-size: 12px;
  background: rgba(0, 0, 0, 0.75);
  padding: 2px;
  color: #ddd;
}
.wave-time {
  left: 0;
  color: #EB4926;
}
.wave-duration {
  right: 0;
}
